<div id="body">
  <div layout="row">

    <md-content flex>
      <md-toolbar style="background-color:white;">
        <div class="md-toolbar-tools" layout-align="center" layout="row">
          <md-button aria-label="Favorite" class="xmd-icon-button" flex ui-sref="profile">
            profile
          </md-button>
          <md-button aria-label="Favorite" class="xmd-icon-button" flex ui-sref="newProject">
            map
          </md-button>
          <md-button aria-label="Favorite" class="xmd-icon-button" flex ui-sref="projects">
            list
          </md-button>
        </div>
      </md-toolbar>
      <div ui-view="" layout="row" layout-align="center" style="background-color:rgb(249, 249, 249)"></div>
    </md-content>

  </div>
</div>
