<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>My first Three.js app</title>
  <style>
    body {
      margin: 0;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="js/phaser.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script>
    var x = 0;
    var y = 0;
    var z = 0;
    var proximity = 0;
    var radX = 0;
    var radY = 0;
    var radZ = 0;


    var xAngle = 0;
    //var socket = io.connect('http://shrouded-spire-4674.herokuapp.com/');
    var socket = io.connect('http://localhost:3000');
    var flag = 0;
    socket.on('phone-data', function(data) {
      if (true || flag < 20) {
        flag++;
        /*
        -9=0deg
        9=180deg
        dist=x2-x1
        dist=9 - -9
        dist=18
        45deg=18/2= 9
        */

        x = (data.motionGX);
        y = (data.motionGY);
        z = (data.motionGZ);
        proximity = (data.proximity);


        radX = x * 0.01745333333333;
        radY = y * 0.01745333333333;
        radZ = z * 0.01745333333333;

        /*var deltaX = Math.abs(mLastX - x);
        var deltaY = Math.abs(mLastY - y);
        var deltaZ = Math.abs(mLastZ - z);

        mLastX = x;
        mLastY = y;
        mLastZ = z;*/


        //console.log(Math.sqrt(z));
        xAngle = Math.atan(x / (Math.sqrt(Math.sqrt(y) + Math.sqrt(z))));
        //xAngle *= 180.00;
        //xAngle /= 3.141592;

        console.log(x, y, z);
      }
    });
  </script>
</head>

<body>
  <div style="font-size:4em;" id="consoleDiv"></div>
  <div id="phaser-example"></div>
  <script>
    var game = new Phaser.Game(1000, 500, Phaser.AUTO, 'phaser-example', {
      create: create,
      render: render
    });
    var graphics = undefined;
    var cameraHalfX = undefined;
    var cameraHalfY = undefined;
    //
    function create() {
      console.log('create');
      graphics = game.add.graphics(game.camera.width / 2, game.camera.height / 2);
      cameraHalfX = game.camera.width / 2;
      cameraHalfY = game.camera.height / 2;
      //graphics.beginFill(0xFF3300);

      // draw a plane coordinate lines
      createCartesianPlane();
      //
      count = cameraHalfX * -1;

    };
    var count = 0;
    var lastX = 0;
    var lastY = 0;
    var lastZ = 0;
    var lastProximity = 0;

    function render() {
      count++;
      //console.log(lastX - count);
      graphics.lineStyle(1, 0xff0000, 1);
      graphics.moveTo(count - 1, lastX);
      graphics.lineTo(count, x);
      graphics.lineStyle(1, 0x00ff00, 1);
      graphics.moveTo(count - 1, lastY);
      graphics.lineTo(count, y);
      graphics.lineStyle(1, 0xffffff, 1);
      graphics.moveTo(count - 1, lastZ);
      graphics.lineTo(count, z);
      graphics.lineStyle(1, 0xFF1493, 2);
      graphics.moveTo(count - 1, lastProximity);
      graphics.lineTo(count, proximity);
      lastX = x;
      lastY = y;
      lastZ = z;
      lastProximity = proximity;
      if (count >= cameraHalfX) {
        count = cameraHalfX * -1;
        graphics.moveTo(cameraHalfX * -1, 0);
        graphics.clear(0, 0, game.camera.width, game.camera.height);
        createCartesianPlane();
      }
      //
      renderDebug();
    };

    function createCartesianPlane() {
      graphics.lineStyle(1, 0xff0000, 1);
      graphics.moveTo(0, 0);
      graphics.lineTo(0, cameraHalfY);
      graphics.moveTo(0, 0);
      graphics.lineTo(0, cameraHalfY * -1);
      graphics.lineStyle(1, 0x0000ff, 1);
      graphics.moveTo(0, 0);
      graphics.lineTo(cameraHalfX, 0);
      graphics.moveTo(0, 0);
      graphics.lineTo(cameraHalfX * -1, 0);
    };

    function renderDebug() {
      var x = 32;
      var y = 0;
      var yi = 32;
      game.debug.text('Viewport', x, y += yi);

      game.debug.text('Viewport Width: ' + game.scale.viewportWidth, x, y += yi);
      game.debug.text('window.innerWidth: ' + window.innerWidth, x, y += yi);
      game.debug.text('window.outerWidth: ' + window.outerWidth, x, y += yi);

      game.debug.text('Viewport Height: ' + game.scale.viewportHeight, x, y += yi);
      game.debug.text('window.innerHeight: ' + window.innerHeight, x, y += yi);
      game.debug.text('window.outerHeight: ' + window.outerHeight, x, y += yi);

      game.debug.text('Document', x, y += yi * 2);

      game.debug.text('Document Width: ' + game.scale.documentWidth, x, y += yi);
      game.debug.text('Document Height: ' + game.scale.documentHeight, x, y += yi);


      game.debug.text('Camera', x, y += yi * 2);

      game.debug.text('Camera Width: ' + game.camera.width, x, y += yi);
      game.debug.text('Camera Height: ' + game.camera.height, x, y += yi);


      x = 350;
      y = 0;

      game.debug.text('Device', x, y += yi);

      game.debug.text('window.screen.width: ' + window.screen.width, x, y += yi);
      game.debug.text('window.screen.availWidth: ' + window.screen.availWidth, x, y += yi);
      game.debug.text('window.screen.height: ' + window.screen.height, x, y += yi);
      game.debug.text('window.screen.availHeight: ' + window.screen.availHeight, x, y += yi);
    };
  </script>
</body>

</html>
