<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>My first Three.js app</title>
  <style>
    body {
      margin: 0;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script>
    var socket = io.connect('http://shrouded-spire-4674.herokuapp.com/');
    /*socket.on('message', function(data) {
    console.log(data);
    });*/
  </script>
</head>

<body>
  <div style="font-size:1em;" id="phoneDataConsoleDiv"></div>
  <div style="font-size:1em;" id="consoleDiv">sss</div>
  <script src="/gyronorm/dist/gyronorm.complete.min.js"></script>
  <script>
    var phoneDataConsoleDiv = document.getElementById('phoneDataConsoleDiv');
    var consoleDiv = document.getElementById('consoleDiv');
    consoleDiv.innerText = "";
    var consoleView = function(msg) {
      consoleDiv.innerText += "{" + msg.message + "}";
    };
    //
    var gn = new GyroNorm();
    var args = {
      gravityNormalized: true
    };
    gn.init(args).then(function() {


      var isAvailable = gn.isAvailable();
      if (!isAvailable.deviceOrientationAvailable) {
        consoleView({
          message: 'Device orientation is not available.'
        });
      }
      if (!isAvailable.accelerationAvailable) {
        consoleView({
          message: 'Device acceleration is not available.'
        });
      }
      if (!isAvailable.accelerationIncludingGravityAvailable) {
        consoleView({
          message: 'Device acceleration incl. gravity is not available.'
        });
      }
      if (!isAvailable.rotationRateAvailable) {
        consoleView({
          message: 'Device rotation rate is not available.'
        });
      }

      gn.start(function(data) {
        //console.log('data:', data.dm.gx, data.dm.gy, data.dm.gz);
        phoneDataConsoleDiv.innerText = "{" + data.dm.gx + ",," + data.dm.gy + "," + data.dm.gz + "}";
        var x = data.dm.gy;
        var y = data.dm.gx;
        var z = data.dm.gz;
        //////
        var orientationA = data.do.alpha //( deviceorientation event alpha value )
        var orientationB = data.do.beta //( deviceorientation event beta value )
        var orientationG = data.do.gamma //( deviceorientation event gamma value )
        var orientationAbs = data.do.absolute //( deviceorientation event absolute value )

        var motionX = data.dm.x //( devicemotion event acceleration x value )
        var motionY = data.dm.y //( devicemotion event acceleration y value )
        var motionZ = data.dm.z //( devicemotion event acceleration z value )

        var motionGX = data.dm.gx //( devicemotion event accelerationIncludingGravity x value )
        var motionGY = data.dm.gy //( devicemotion event accelerationIncludingGravity y value )
        var motionGZ = data.dm.gz //( devicemotion event accelerationIncludingGravity z value )

        var motionRA = data.dm.alpha //( devicemotion event rotationRate alpha value )
        var motionRB = data.dm.beta //( devicemotion event rotationRate beta value )
        var motionRG = data.dm.gamma //( devicemotion event rotationRate gamma value )
          //////
        socket.emit('phone-data', {
          orientationA: orientationA,
          orientationB: orientationB,
          orientationG: orientationG,
          orientationAbs: orientationAbs,
          motionX: motionX,
          motionY: motionY,
          motionZ: motionZ,
          motionGX: motionGX,
          motionGY: motionGY,
          motionGZ: motionGZ,
          motionRA: motionRA,
          motionRB: motionRB,
          motionRG: motionRG
        });

      });
    }).catch(function(e) {
      // Catch if the DeviceOrientation or DeviceMotion is not supported by the browser or device
      console.log('e:', e);
    });
  </script>
</body>

</html>
